flows.json
[{"id":"4fb5f904.df5e3","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"765f39c.3acfe48","type":"ui_form","z":"4fb5f904.df5e3","name":"","label":"","group":"ff8b7015.36aa3","order":4,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":240,"wires":[["5301a96d.c11b5"]]},{"id":"5301a96d.c11b5","type":"function","z":"4fb5f904.df5e3","name":"input_parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":340,"wires":[["77a13ef4.878018","8c84e57e.1462e"]]},{"id":"77a13ef4.878018","type":"ui_text","z":"4fb5f904.df5e3","group":"ff8b7015.36aa3","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":440,"y":340,"wires":[]},{"id":"6f1afcff.86c2a4","type":"debug","z":"4fb5f904.df5e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":260,"wires":[]},{"id":"9d779682.ccb07","type":"function","z":"4fb5f904.df5e3","name":"Output_parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\")\n{\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload=msg.payload.output.generic[0].title+\"\\n\"+msg.payload.output.generic[0].description\n}\nelse\n{\n     msg.payload=msg.payload.output.generic[0].text\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["ae4ca267.58f9d8","49332df6.4f5c14"]]},{"id":"ae4ca267.58f9d8","type":"ui_text","z":"4fb5f904.df5e3","group":"ff8b7015.36aa3","order":6,"width":"11","height":"4","name":"Bot response","label":"","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":280,"wires":[]},{"id":"49332df6.4f5c14","type":"ui_audio","z":"4fb5f904.df5e3","name":"","group":"ff8b7015.36aa3","voice":"en-US","always":"","x":720,"y":180,"wires":[]},{"id":"8c84e57e.1462e","type":"watson-conversation-v1","z":"4fb5f904.df5e3","name":"Customer care","workspaceid":"de13db4a-0cdc-46a6-a5f8-3524534142ec","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e078dd31-e2f5-4248-b438-9cdc0895ddb1","timeout":"","optout-learning":false,"x":320,"y":140,"wires":[["9d779682.ccb07","6f1afcff.86c2a4"]]},{"id":"ff8b7015.36aa3","type":"ui_group","z":"","name":"UI","tab":"bd7d1109.510308","order":1,"disp":true,"width":"12","collapse":false},{"id":"bd7d1109.510308","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]